In [310]:
from anemoi.datasets import open_dataset, add_dataset_path

In [311]:
add_dataset_path("https://object-store.os-api.cci1.ecmwf.int/ml-examples/")

In [312]:
ds1 = open_dataset("an-oper-2023-2023-2p5-6h-v1", select=["10u", "10v"])
ds2 = open_dataset("an-oper-2023-2023-2p5-6h-v1", select=["2t", "msl"])
ds =open_dataset(ds1, ds2)

In [313]:
ds

Join(Select(), Select())

In [314]:
# ds[9]

In [315]:
print(len(ds))

1460

In [316]:
print(ds.variables)

['10u', '10v', '2t', 'msl']

In [317]:
ds.tree()

Join
  Select
    select: 10u, 10v
    Zarr
      path: https://object-store.os-api.cci1.ecmwf.int/ml-examples/an-oper-2023-2023-2p5-6h-v1.zarr
  Select
    select: 2t, msl
    Zarr
      path: https://object-store.os-api.cci1.ecmwf.int/ml-examples/an-oper-2023-2023-2p5-6h-v1.zarr